<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concurso de Fotografías</title>
    <link rel="icon" href="../content/img/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&amp;subset=latin">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    <link rel="stylesheet" href="~/Content/assets/bootstrap-material-design-font/css/material.css?2017.1.0.8">
    <link rel="stylesheet" href="~/Content/assets/web/assets/mobirise-icons/mobirise-icons.css?2017.1.0.8">
    <link rel="stylesheet" href="~/Content/assets/et-line-font-plugin/style.css?2017.1.0.8">
    
    <link rel="stylesheet" href="~/Content/assets/tether/tether.min.css?2017.1.0.8">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css?2017.1.0.8">
    <link rel="stylesheet" href="~/Content/assets/dropdown/css/style.css?2017.1.0.8">
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css?2017.1.0.8">
    <link rel="stylesheet" href="~/Content/assets/social-feed-plugin/jquery.socialfeed.css?2017.1.0.8">
    <link rel="stylesheet" href="~/Content/assets/social-feed-plugin/style.css?2017.1.0.8">
    
    <link rel="stylesheet" href="~/Content/assets/theme/css/style.css?2017.1.0.8">
    <link rel="stylesheet" href="~/Content/assets/mobirise-gallery/style.css">
    <link rel="stylesheet" href="~/Content/assets/mobirise/css/mbr-additional.css?2017.1.0.8" type="text/css">
    <link rel="stylesheet" href="~/Content/skin.css?2017.1.0.8"  />
    <script src="~/Scripts/modernizr-2.6.2.js?2017.1.0.8"></script>
</head>
<body>
  
  
    <div class="@*container-fluid*@" >

        @RenderBody()
        
       
    </div>
  
    <script src="~/Content/assets/web/assets/jquery/jquery.min.js?2017.1.0.8"></script>
    <script src="~/Content/assets/tether/tether.min.js?2017.1.0.8"></script>
    <script src="~/Content/assets/bootstrap/js/bootstrap.min.js?2017.1.0.8"></script>
    <script src="~/Content/assets/smooth-scroll/smooth-scroll.js?2017.1.0.8"></script>
    <script src="~/Content/assets/dropdown/js/script.min.js?2017.1.0.8"></script>
    <script src="~/Content/assets/touch-swipe/jquery.touch-swipe.min.js?2017.1.0.8"></script>
    <script src="~/Content/assets/jarallax/jarallax.js?2017.1.0.8"></script>
    <script src="~/Content/assets/masonry/masonry.pkgd.min.js?2017.1.0.8"></script>

    <script src="~/Content/assets/imagesloaded/imagesloaded.pkgd.min.js?2017.1.0.8"></script>
    <script src="~/Content/assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js?2017.1.0.8"></script>
    <script src="~/Content/assets/social-feed-plugin/codebird.min.js?2017.1.0.8"></script>
    <script src="~/Content/assets/social-feed-plugin/moment.js?2017.1.0.8"></script>
    <script src="~/Content/assets/social-feed-plugin/en-gb.js?2017.1.0.8"></script>
    <script src="~/Content/assets/social-feed-plugin/doT.js?2017.1.0.8"></script>
    <script src="~/Content/assets/social-feed-plugin/jquery.socialfeed.js?2017.1.0.8"></script>
    <script src="~/Content/assets/social-feed-plugin/main.js?2017.1.0.8"></script>
    <script src="~/Content/assets/theme/js/script.js?2017.1.0.8"></script>
    <script src="~/Content/assets/mobirise-gallery/player.min.js?2017.1.0.8"></script>
    <script src="~/Content/assets/mobirise-gallery/script.js?2017.1.0.8"></script>

  
</body>
</html>