<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RLCU - Concurso de Fotografías</title>
    <link rel="icon" href="../content/img/favicon.png" sizes="32x32">
    <link rel="stylesheet" href="~/Content/assets/bootstrap/css/bootstrap.min.css?2017.1.0.7">
    <link href="~/Content/login/style.css?2017.1.0.7" rel="stylesheet" />
</head>
<body>
    @*<style>
     
    </style>*@
    <div>
        @RenderBody()
    </div>
</body>
</html>
