
@{
    ViewBag.Title = "Mensaje_registro";
    //Layout = "~/Views/Shared/_LayoutPage_concurso.cshtml";
}

<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background" id="header1-15" style="background-image: url(/Content/assets/images/mbr-2000x1328.jpg);">

    <div class="mbr-table-cell">
        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center" >
                    <h1 class="mbr-section-title display-1" style="color:#000 !important">Registro exitoso</h1>
                    <p class="mbr-section-lead lead" style="color:#000 !important">Gracias por inscribirse en el concurso, hemos enviado un correo a su buzón para confirmar el registro. &nbsp; Cuando logre acceder deberá completar sus datos.&nbsp;<br></p>

                </div>
            </div>
        </div>
    </div>

</section>

