
@{
    
}



<style>
    body {
        background-color: #1abc9c;
    padding: 0;
    margin: 0;
    color: #fff;
    font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    line-height: 1.5em;
    text-align: center;
    height: 100%;
    position: relative;
    overflow: hidden;
    -webkit-transition: background-color 0.6s ease-in-out 0s;
    transition: background-color 0.6s ease-in-out 0s;
}
</style>
<div class="sk-folding-cube" style="margin-top: 20%;">
    <div class="sk-cube1 sk-cube" style="background: aliceblue;"></div>
    <div class="sk-cube2 sk-cube" style="background: #b9cee0;"></div>
    <div class="sk-cube4 sk-cube" style="background: #809fbb;"></div>
    <div class="sk-cube3 sk-cube" style="background: #7098bb;"></div>
</div>