<section class="mbr-section mbr-section-md-padding mbr-footer footer2" id="contacts2-5" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

    <div class="container">
        <div class="row">
            <div class="mbr-footer-content col-xs-12 col-md-3">
                <p>
                    <strong>Address</strong><br>Panamá, Vía  Ricardo J. Alfaro<br><br><br>
                    <strong>Contacts</strong><br>
                    Email: arturoschloss@ulatina.edu.pa<br>
                    Phone: +507 230-8600<br>

                </p>
                <br><br>
                <p class="mbr-contacts__text">
                    <strong>Links</strong>
                </p>
                <ul>
                    <li> <a href="https://www.ulatina.edu.pa/" target="_blank">Universidad Latina de Panamá</a> </li>

                </ul>
            </div>
            <div class="mbr-footer-content col-xs-12 col-md-3">
            <p class="mbr-contacts__text">
                <strong>Patrocinadores</strong>
            </p>
            <ul>
                <li>
                    <img style="width: 100%;" src="~/Content/img/2018/P&G.jpg" /> 
                </li>
                <li>
                    <img  style="width: 100%;"  src="~/Content/img/2018/patrocinador2.png" />
                </li>
               
            </ul>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="mbr-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJiS7IfTKorI8RxB3lsA6PKdw" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>
<footer class="mbr-small-footer mbr-section mbr-section-nopadding" id="footer1-2" style="background-color: rgb(50, 50, 50); padding-top: 1.75rem; padding-bottom: 1.75rem;">

    <div class="container">
        <p class="text-xs-center">Copyright (c) 2017 Universidad Latina de Panamá</p>
    </div>
</footer>

